Name for the channel spacing type

It is not a blocking point fro this version, but the name is not friendly . Please turn into e.g. dwdm-ch-spacing-type.
It is longer but clear .

_Originally posted by @sergiobelotti in https://github.com/ietf-ccamp-wg/ietf-ccamp-layer0-types-ext/pull/55#discussion_r918004967_

> The `identity dwdm-ch-spc-type` has been already defined in RFC9093 so there are some backward-compatibility issues to consider

In the reality the definition in RFC9093:
"dwdm-ch-spc-type:
      A base YANG identity for the DWDM channel-spacing type as defined
      in [RFC6205]."
is pointing RFC6205 where no definition of channel spacing is provided.

"Since the ITU-T DWDM grid is based on nominal central frequencies, we
   need to indicate the appropriate table, the channel spacing in the
   grid, and a value n that allows the calculation of the frequency.
   That value can be positive or negative.

   The frequency is calculated as such in [G.694.1]:

        Frequency (THz) = 193.1 THz + n * channel spacing (THz)

In my view the only weel done definition is provided in RFC 7698 where the correct definition as "nominal central frequency granularity" is provided.
"Nominal Central Frequency Granularity: The spacing between allowed
      nominal central frequencies.  It is set to 6.25 GHz [G.694.1] "

So my proposal is why do not use nominal central frequency granularity e.g. dwdm-ncf-granularity-type from now on in RFC9093bis instead of channel spacing 



weekly call on 05-09-23:
Gabriele explained the wrong assumption is to use channel spacing in the context of flexible grid to compute Nominal central frequency with the formula 
Frequency (THz) = 193.1 THz + n * channel spacing (THz). Channel spacing has to be used only for fixed grid.
Instead is correct to use Nominal Central Frequency Granularity in the above formula, for flexible grid NW.
Post meeting note:
It would be more appropriate to change the name of identity base like "flexi-ncf-granularity-type" or if too long a more synthetic "flexi-ncf-gr-type" name and change the description where there is reference to channel spacing instead of NCF granularity.
For backward compatiblity issue we cannot modifiy the already present definition we can aonly adding new definitions and take the actions to use in all related models the new definitons on behalf of the old ones.


Weekly call 05-16-23
Final agreement.
The decision is 

- to "deprecate" the flexi-ch-spc-type, with "deprecated" status statement

-  to substitute that attribute with "flexi-ncf-granularity-type" with a new description. e.g. "Flexi-grid nominal central frequency granularity type"

- to add new identity "flexi-ncfg-6p25ghz"

* Open a new issue in the flexible topology and tunnel