Mohamed Boucadair's Discuss on draft-ietf-ccamp-rfc9093-bis-15

> Mohamed Boucadair has entered the following ballot position for
> draft-ietf-ccamp-rfc9093-bis-15: Discuss
> 
> When responding, please keep the subject line intact and reply to all email addresses included in the To and CC lines. (Feel free to cut this introductory paragraph, however.)
> 
> 
> Please refer to https://www.ietf.org/about/groups/iesg/statements/handling-ballot-positions/
> for more information about how to handle DISCUSS and COMMENT positions.
> 
> 
> The document, along with other ballot positions, can be found here:
> https://datatracker.ietf.org/doc/draft-ietf-ccamp-rfc9093-bis/
> 
> 
> 
> ----------------------------------------------------------------------
> DISCUSS:
> ----------------------------------------------------------------------
> 
> Hi Sergio, Italo, Dieter, Esther, and Aihua,
> 
> Thank you for the effort put into this bis document.
> 
> Only main comments are enclosed here. I will send you a link with a more
> comprehensive review. Feel free to grab whatever useful for you from that link.
> 
> # DISCUSS
> 
> ## Lack of an Operational Considerations section that discus the implications
> (or lack of) deprecated parameters.
> 
> Please add such section with the listed of deprecated parameter.
> 

Authors: The deprecated definitions are not used by any IETF YANG models and have been replaced by new definitions as bug fixing. We think it may be better to obsolete them and track in the summary of the changes that they have been obsoleted for bug fixing.

- [x] Obsolete the deprecated data nodes and track the fact in the summary of the changes as bug fixing

> ## (in)Adequate provisions for extensibility
> 
> Do we expect those to evolve?
> 
> CURRENT:
> ```
>   typedef fiber-type {
>     type enumeration {
>       enum G.652 {
>         description
>           "G.652 Standard Singlemode Fiber";
>       }
>       enum G.654 {
>         description
>           "G.654 Cutoff Shifted Fiber";
>       }
>       enum G.653 {
>         description "G.653 Dispersion Shifted Fiber";
>       }
>       enum G.655 {
>         description "G.655 Non-Zero Dispersion Shifted Fiber";
>       }
>       enum G.656 {
>         description
>           "G.656 Non-Zero Dispersion for Wideband Optical Transport";
>       }
>       enum G.657 {
>         description
>           "G.657 Bend-Insensitive Fiber";
>       }
>     }
>     description
>       "ITU-T based fiber-types";
>       "ITU-T based fiber-types";
>   }
> ```
> 
> As a reminder RRC8407bis says:
> 
> ```
>    If the set of values is fixed and the data type contents are
>    controlled by a single naming authority (e.g., IANA), then an
>    enumeration data type SHOULD be used.
> 
>    If distributed extensibility or hierarchical organization of
>    enumerated values is required, then the "identityref" data type
>    SHOULD be used instead of an enumeration or other built-in type.
> ```
> 
> BTW, are there references to cite here?
> 

Authors: this typedef is no longer used by the optical impairments topology draft (replaced by a string) so it is better to remove it since not used by any IETF YANG model.

> ## Missing prefix in many places. For example:
> 
> CURRENT:
> ```
>       case fixed-dwdm {
>         leaf dwdm-n {
>           when "derived-from-or-self(../../../grid-type,
>                 \"wson-grid-dwdm\")" {
> ```
> 
> 8407bsi says:
> ```
>    XPath expressions that contain a literal value representing a YANG
>    identity SHOULD always include the declared prefix of the module
>    where the identity is defined.
> ```
> 

Authors: Ok, fixed

- [x] Check prefixes and add when missing

> As I’m there, you may also use “+” for folding. You may consider:
> 
> NEW:
> ```
>       case fixed-dwdm {
>         leaf dwdm-n {
>           when "derived-from-or-self(../../../grid-type, "
>               + "l0-types:wson-grid-dwdm)" {
> ```
> 
> Please fix other similar issues.
> 

Authors: Ok, fixed

> ## Make sure the default will be needed for all cases
> 
> CURRENT:
> ```
>       leaf min-slot-width-factor {
>         type uint16 {
>           range "1..max";
>         }
>         default "1";
> ```
> 
> As a reminder, RFC8407bis says the following:
> 
> ```
>    *  Do not include a "default" substatement on a leaf or choice unless
>       the value applies on all possible contexts.
> ```
> 
> The default values can be a hinderance for templates/profiles. Please make sure
> this is intended.
> 

Authors: We have reviewed all the default and config statements and removed those not needed in all the cases and not causing backward compatibility issues.

> The comment applies for similar statement in the module.
> 
> ## Case+When constructs. For example,
> 
> CURRENT:
> ```
>       case dwdm {
>         leaf dwdm-n {
>           when "derived-from-or-self(../../../grid-type,
>                 \"wson-grid-dwdm\")" {
>             description
>               "Valid only when grid type is DWDM.";
>           }
> ```
> 
> May be transformed to a container if you want to keep the when clause. Please
> check that you are following RFC8407bis:
> 
>    Some modules use "case + when" construct but provide duplicated
>    information (e.g., the "when" statements are constraining a single
>    case in the choice as shown in the example below).  Such constructs
>    with duplicated information SHOULD NOT be used.
> 

Authors: We have reviewed all the case+when definitions and removed those not causing backward compatibility issues. We have transformed the case as a container when there multiple data nodes: we do not think we need to add a container in case there is a single attribute.

- [x] check and remove, when possible, the case+when statements

> ## Are we sure config is used to comply with 8407
> 
> CURRENT:
> ```
>     leaf standard-mode {
>       type standard-mode;
>       config false;
> ```
> 
> RFC8407bis has the following:
> ```
>    *  Do not include a "config" substatement on a data node unless the
>       value applies on all possible contexts.
> ```
> 

Authors: Ok, fixed

> ## Normative dependency on an obsoleted RFC
> 
> 6.1.  Normative References
> 
> ..
>    [RFC9093]  Zheng, H., Lee, Y., Guo, A., Lopez, V., and D. King, "A
>               YANG Data Model for Layer 0 Types", RFC 9093,
>               DOI 10.17487/RFC9093, August 2021,
>               <https://www.rfc-editor.org/rfc/rfc9093>.
> 
> 6.2.  Informative References
> 
> Please move 9093 to be listed as Informative.
> 

Authors: Ok, fixed

- [x] Move RFC9093 to Informative Reference

> 
> ----------------------------------------------------------------------
> COMMENT:
> ----------------------------------------------------------------------
> 
> # Please consider organizing “2. Layer 0 Types Module Contents” into
> subsections to better present the typedefs, identities, groupings. These are
> currently mixed without any structure, which is not convenient to walk through.
> 

Authors: Ok, done

- [x] Organize section 2 into subsections

> # Indentation is not consistent in the module. Please run "pyang -f yang
> --yang-canonical" or similar
> 

Authors: Ok, done

> # Follow the IETF template in 8407bis. For example, add this missing to the
> description part
> 
> ```
>      All revisions of IETF and IANA published modules can be found
>      at the YANG Parameters registry group
>      (https://www.iana.org/assignments/yang-parameters).
> ```
> 

Authors: Ok, done

> # Use the exact document title, when cited
> 
> OLD: "RFC XXXX: A YANG Data Model for Layer 0 Types";
> NEW: "RFC XXXX: Common YANG Data Types for Layer 0 Networks";
> 

Authors: Ok, done

> # Please list the changes vs. 9093. Refer to 8407bis for guidance
> 
> CURRENT:
> ```
>   revision 2025-06-06 {
>     description
>       "To be updated";
> ```
> 

Authors: Ok, done

> # Consider use better and meaningful descriptions. For example, the following
> description does not say much about this.
> 
> CURRENT:
> ```
>   identity l0-grid-type {
>     description
>       "Layer 0 grid type";
> ```
> 

Authors: Ok, done

> Or
> 
> ```
>   description "ID for the supported transceiver's mode.";
> ```
> 

Authors: Ok, done

> There are many such issues in the module.
> 
> Likewise, there are many descriptions that I don’t parse. For example;
> 
> CURRENT:
> ```
>         "organization identifier that uses organizational
>          mode";
> ```
> 

Authors: Ok, done

> # Expand on first use. For example,
> 
> CURRENT:
> ```
>     identity wson-grid-cwdm {
>       base l0-grid-type;
>       description
>         "CWDM grid";
> ```
> 

Authors: Ok, done

> # Provide explicit pointers for the references to be useful and convenient for
> readers. For example,
> 
> OLD:
> ```
>     identity cwdm-20nm {
>       base cwdm-ch-spc-type;
>       description
>         "20nm channel spacing";
>       reference
>         "RFC 6205: Generalized Labels for Lambda-Switch-Capable (LSC)
>         Label Switching Routers,
> ```
> 
> NEW:
> ```
>     identity cwdm-20nm {
>       base cwdm-ch-spc-type;
>       description
>         "20nm channel spacing.";
>       reference
>         "RFC 6205: Generalized Labels for Lambda-Switch-Capable (LSC)
>                    Label Switching Routers, Section 3.1
> ```
> 

Authors: Ok, done

> Or
> 
> OLD:
> ```
>   identity dwdm-ch-spc-type {
>     description
>       "DWDM channel-spacing type";
>     reference
>       "RFC 6205: Generalized Labels for Lambda-Switch-Capable (LSC)
>        Label Switching Routers,
> 
>        ITU-T G.694.1 (10/2020): Spectral grids for WDM applications:
>        DWDM frequency grid";
> ```
> 
> NEW:
> ```
>   identity dwdm-ch-spc-type {
>     description
>       "DWDM channel-spacing type.";
>     reference
>       "RFC 6205: Generalized Labels for Lambda-Switch-Capable (LSC)
>                  Label Switching Routers, Section 3
>        ITU-T G.694.1 (10/2020): Spectral grids for WDM applications:
>                  DWDM frequency grid";
> ```
> 

Authors: Ok, done

> Etc.
> 
> BTW, use consistent formatting for the reference statements.
> 
> OLD:
> ```
>       "Section 3 of RFC 7688: GMPLS OSPF Enhancement for Signal and
>       Network Element Compatibility for Wavelength Switched Optical
>       Networks";
> ```
> 
> NEW:
> ```
>       "RFC 7688: GMPLS OSPF Enhancement for Signal and
>                  Network Element Compatibility for Wavelength Switched Optical
>                  Networks, Section 3";
> ```
> 

Authors: Ok, done. BTW, are there some guidelines (e.g., how many spaces to be used for indentation)?

> # Consistently expand your acronyms. For example,
> 
> OLD: "DPSK (Differential Phase Shift Keying) modulation";
> NEW: "Differential Phase Shift Keying (DPSK) modulation.";
> 
> OLD: "QPSK (Quadrature Phase Shift Keying) modulation";
> NEW: "Quadrature Phase Shift Keying (QPSK) modulation.";
> 
> # Check your use of identifiers with uppercase. For example,
> 

Authors: Ok, done

> CURRENT:
> ```
>   identity line-coding-NRZ-2p5G {
> ```
> 
>   …
> 
> ```
>     identity line-coding-NRZ-OTU1 {
> ```
>   etc.
> 
> 8407bis has the following:
> 
> ```
>    Identifiers SHOULD follow a consistent naming pattern throughout the
>    module.  Only lowercase letters, numbers, and dashes SHOULD be used
>    in identifier names. Uppercase characters, the period character, and
>    the underscore character MAY be used if the identifier represents a
>    well-known value that uses these characters.
> ```
> 

Authors: We have updated the YANG identifiers to use lower case characters

> # RFC YYYY is used to refer to two distinct documents. Suggest to fix this to
> avoid confusion:
> 
> OLD:
> ```
>       "Section 2.5.2 of RFC YYYY: A YANG Data Model for Optical
>       Impairment-aware Topology.";
>   }
> // RFC Ed.: replace YYYY with actual RFC number and remove
> // this note after draft-ietf-ccamp-optical-impairment-topology-yang
> // is published as an RFC
> ```
> 
> NEW:
> ```
>       "RFC IIII: A YANG Data Model for Optical Impairment-aware
>                  Topology, Section 2.5.2";
>   }
> // RFC Ed.: replace IIII with actual RFC number and remove
> // this note after draft-ietf-ccamp-optical-impairment-topology-yang
> // is published as an RFC
> ```
> 

Authors: Ok, done

> # Can this be enforced by YANG statement (pattern)?
> 
> CURRENT:
> ```
>   typedef standard-mode {
>     type string;
>     description
>       "Identifies an ITU-T G.698.2 standard application code.
> 
>       It MUST be a string with a format that follows the
>       nomenclature defined in Section 5.3 of ITU-T G.698.2.";
> ```
> 
> If not, consider at least including the constraint in the description rather
> that via indirect citation.
> 

Authors: It is not enforced by YANG syntax but by proper code in the implementation. That's the reason why we have added the MUST requirement in the description statement.
This format of this string (DScW-ytz(v)) is not really understandable without the explanation of each character: we think it is better to ask the implementers to go and read clause 5.3 of G.698.2 rather than copying the whole text from the Recommendation within the YANG code

> # I guess you meant multi rather than super. There is no valid "super" node in
> the wdm-label-hop grouping:
> 
> CURRENT:
> ```
>       case fixed-dwdm {
>         choice fixed-single-or-super-channel {
>           description
>             "single or super channel";
> ```
> 
> Please consider using a more descriptive text.
> 

Authors: Ok, done

> # Redundant with default values. For example,
> 
> CURRENT:
> ```
>         default "flexi-swg-12p5ghz";
>         description
>           "Minimum space between slot widths. Default is 12.500
> ```
> 
> If you maintain the default statement, the default part of the description is
> redundant. Please keep one.
> 

Authors: We think that the default values are applicable to any case so we prefer to keep them. We have removed the duplicated information in the description.

> # Redundant with the reference statement. For example:
> 
> OLD:
> ```
>          This attribute is also known as central frequency
>          granularity in RFC 8363.";
>       reference
>         "RFC 8363: GMPLS OSPF-TE Extensions in Support of Flexi-Grid
>          Dense Wavelength Division Multiplexing (DWDM) Networks";
> ```
> 
> NEW:
> ```
>          This attribute is also known as central frequency
>          granularity.";
>       reference
>         "RFC 8363: GMPLS OSPF-TE Extensions in Support of Flexi-Grid
>                    Dense Wavelength Division Multiplexing (DWDM) Networks";
> ```
> 

Authors: Ok, done

> # The following are not normative, please move them to be listed as Informative:
> 
> ```
>    [RFC6020]  Bjorklund, M., Ed., "YANG - A Data Modeling Language for
>               the Network Configuration Protocol (NETCONF)", RFC 6020,
>               DOI 10.17487/RFC6020, October 2010,
>               <https://www.rfc-editor.org/rfc/rfc6020>.
> 
>    [RFC6241]  Enns, R., Ed., Bjorklund, M., Ed., Schoenwaelder, J., Ed.,
>               and A. Bierman, Ed., "Network Configuration Protocol
>               (NETCONF)", RFC 6241, DOI 10.17487/RFC6241, June 2011,
>               <https://www.rfc-editor.org/rfc/rfc6241>.
> ```
> 

Authors: Ok, done

- [x] Move RFC6020 and RFC6241 to Informative Reference

> # List keys are mandatory. Please fix the tree diagram
> 
> OLD:
> ```
>              |  +-- flexi-m?              flexi-m
>              x--:(super)
>              |  x-- subcarrier-flexi-n* [flexi-n]
>              |     +-- flexi-n    flexi-n
>              |     +-- flexi-m?   flexi-m
>              +--:(multi)
>                 +-- frequency-slots
>                    +-- frequency-slot* [flexi-n]
>                       +-- flexi-n    flexi-n
>                       +-- flexi-m?   flexi-m
>   grouping wdm-label-range-info:
>     +-- grid-type?    identityref
>        …
>        |  +-- flexi-m?              flexi-m
>        x--:(super)
>        |  x-- subcarrier-flexi-n* [flexi-n]
>        |     +-- flexi-n?   flexi-n
>        |     +-- flexi-n    flexi-n
>        |     +-- flexi-m?   flexi-m
>        +--:(multi)
>           +-- frequency-slots
>              +-- frequency-slot* [flexi-n]
>                 +-- flexi-n    flexi-n
>                 +-- flexi-m?   flexi-m
>   grouping flexi-grid-label-range-info:
>     +-- grid-type?    identityref
>     …
>   grouping transceiver-capabilities:
>     +--ro supported-modes!
>        +--ro supported-mode* [mode-id]
>           +--ro mode-id                           string
>           +--ro (mode)
>              +--:(G.698.2)
>              |  +--ro standard-mode?              standard-mode
> ```
> 
> NEW:
> ```
>              |  +-- flexi-m?              flexi-m
>              x--:(super)
>              |  x-- subcarrier-flexi-n* [flexi-n]
>              |     +-- flexi-n    flexi-n
>              |     +-- flexi-m?   flexi-m
>              +--:(multi)
>                 +-- frequency-slots
>                    +-- frequency-slot* [flexi-n]
>                       +-- flexi-n    flexi-n
>                       +-- flexi-m?   flexi-m
>   grouping wdm-label-range-info:
>     +-- grid-type?    identityref
> …
>        |  +-- flexi-m?              flexi-m
>        x--:(super)
>        |  x-- subcarrier-flexi-n* [flexi-n]
>        |     +-- flexi-n    flexi-n
>        |     +-- flexi-m?   flexi-m
>        +--:(multi)
>           +-- frequency-slots
>              +-- frequency-slot* [flexi-n]
>                 +-- flexi-n    flexi-n
>                 +-- flexi-m?   flexi-m
>   grouping flexi-grid-label-range-info:
>     +-- grid-type?    identityref
>      …
>   grouping transceiver-capabilities:
>     +--ro supported-modes!
>        +--ro supported-mode* [mode-id]
>           +--ro mode-id                           string
>           +--ro (mode)
>              +--:(G.698.2)
>              |  +--ro standard-mode?              standard-mode
> 
> ```

Authors: manually fixing the output of pyang is a moving target. As discussed for RFC8776-bis we prefer to add an Editors' Note to fix it only once when the I_D is sent to the RFC EDITOR\

- [x] Add an Editors' note as in RFC8776-bis to fix the YANG tree

> Hope this helps.
> 
> Cheers,
> Med

See: https://mailarchive.ietf.org/arch/msg/ccamp/cHYT2e77x4zVwqeP2t6EZxeivFc/

Replied to the CCAMP WG mailing list: https://mailarchive.ietf.org/arch/msg/ccamp/iRUVThfAfuH1BvZLxhUBwLhFKV0/