Mahesh Jethanandani's Discuss on draft-ietf-ccamp-rfc9093-bis-15

> ----------------------------------------------------------------------
> DISCUSS:
> ----------------------------------------------------------------------
> 
> Section 3, paragraph 1
> 
> Please be aware that a DISCUSS is just that. A discussion. That said, I want to
> DISCUSS several aspects of the module.
> 
> First of all, pyang gives the following error:
> ietf-layer0-types@2025-02-25.yang:1: warning: unexpected latest revision
> "2025-06-06" in [ietf-layer0-types@2025-02-25.yang](mailto:ietf-layer0-types@2025-02-25.yang), should be "2025-02-25"
> 
> which should be fixed.
> 

Authors: Fixed

> My second point is whether this module has been tested. I understand that the
> module are mostly groupings, but have they been tested by including them in
> another module. I did a test by including some of the groupings inside of a
> container in a file called x.yang. Granted, this is a brute force method. Maybe
> there are expectations that multiple groupings will not be inherited by other
> modules, and maybe if they are done, then some of these error messages will go
> away. However, some of the errors are not related to the hierarchy of the
> groupings. If this has been done, great. If not, without some testing I would
> feel queasy at best.
> 
> Here is the sample x.yang file I am using.
> module x {
>   yang-version 1.1;
>   namespace "urn:ietf:params:xml:ns:yang:x";
>   prefix x;
>   import ietf-layer0-types {
>     prefix l0-types;
>   }
>   container x {
>     uses l0-types:wdm-label-start-end;
>     uses l0-types:wdm-label-step;
>     uses l0-types:wdm-label-hop;
>     uses l0-types:wdm-label-range-info;
>     uses l0-types:wson-label-start-end;
>     uses l0-types:wson-label-hop;
>     uses l0-types:l0-label-range-info;
>     uses l0-types:wson-label-step;
>     uses l0-types:flexi-grid-label-start-end;
>     uses l0-types:flexi-grid-frequency-slot;
>     uses l0-types:flexi-grid-frequency-slot;
>     uses l0-types:flexi-grid-label-hop;
>   }
> }
> 
> When compiled using pyang, here is the error I get:
> 
> x.yang:13: error: there is already a child node to "x" at x.yang:10 with the
> name "grid-type" defined at x.yang:11 (at
> ietf-layer0-types@2025-02-25.yang:925) x.yang:13: error: there is already a
> child node to "x" at x.yang:10 with the name "dwdm-n" defined at x.yang:11 (at
> ietf-layer0-types@2025-02-25.yang:929) x.yang:13: error: there is already a
> child node to "x" at x.yang:10 with the name "cwdm-n" defined at x.yang:11 (at
> ietf-layer0-types@2025-02-25.yang:945) x.yang:13: error: there is already a
> child node to "x" at x.yang:10 with the name "flexi-n" defined at x.yang:11 (at
> ietf-layer0-types@2025-02-25.yang:1318)
> 
> Again, this might be because 'grid-type' may not be expected to be included
> from both the groupings 'wdm-label-start-end' as well as 'wdm-label-hop'.
> 
> But this error might be related to the use of \. See comment below.
> 
> x.yang:11 (at ietf-layer0-types@2025-02-25.yang:931): error: the path has too
> many ".." x.yang:11 (at ietf-layer0-types@2025-02-25.yang:947): error: the path
> has too many ".." Also, indentation is off in several places in the file.
> Please fix them. For base identities please update the description to say "Base
> identity for ...".
> 

Authors: Some errors are caused by the fact some groupings have an external dependency to a data node 'grid-type' defined outside of the grouping. We have updated the description of the groupings to explicit their dependency.

Other errors can be caused by different groupings defining data nodes with the same identifiers: it would be better to put the uses within a container to avoid these issues.

We have also noted some strange compilation errors with the derived-from-or-self. Some of these errors should have been spotted already when the YANG data model in RFC9094 has been compiled but maybe it was a bug of pyang at that time now being fixed. We have fixed these errors.

- [ ] Add a link to the new text YANG model in github after having uploaded the updated I-D and before replying to Mahesh 

> Section 3, paragraph 92
> >      typedef standard-mode {
> >        type string;
> >        description
> >          "Identifies an ITU-T G.698.2 standard application code.
> >
> >          It MUST be a string with a format that follows the
> >          nomenclature defined in section 5.3 of ITU-T G.698.2.";
> >        reference
> >          "ITU-T G.698.2 (11/2018)";
> >      }
> 
> If the string has a nomenclature, why is there no 'pattern' statement to make
> sure it meets that nomenclature?
> 

Authors: We had a similar discussion with Med. This format of this string (DScW-ytz(v)) is not really understandable without the explanation of each character: we think it is better to ask the implementers to go and read clause 5.3 of G.698.2 rather than copying the whole text from the Recommendation within the YANG code.

> Section 3, paragraph 115
> >          case fixed-dwdm {
> >            leaf dwdm-n {
> >              when "derived-from-or-self(../../../grid-type,
> >                    \"wson-grid-dwdm\")" {
> >                description
> >                  "Valid only when grid type is DWDM.";
> >              }
> 
> Use the following format to define the 'when' statement and get rid of the \
> here and anywhere you use the 'when' statement. It is opposite of how single
> quotes and double quotes have been used in the current draft.
> 
> when 'derived-from-or-self(type, "exif:fast-ethernet");
> 

Authors: Updated as suggested

> 
> ----------------------------------------------------------------------
> COMMENT:
> ----------------------------------------------------------------------
> 
> Section 1, paragraph 0
> >    YANG [RFC7950] is a data modeling language used to model
> >    configuration data, state data, Remote Procedure Calls, and
> >    notifications for network management protocols such as the Network
> >    Configuration Protocol (NETCONF) [RFC6241].  The YANG language
> >    supports a small set of built-in data types and provides mechanisms
> >    to derive other types from the built-in types.
> 
> This paragraph is redundant and should be removed.
> 

Authors: Ok, removed

> Section 1.2, paragraph 5
> 
> Even though this document defines groupings, and there is one big tree diagram
> in the Appendix, it would have been nice to include snippets of the big
> groupings in the form of a tree diagram here along with the description to help
> explain some of the content.
> 

Authors: We would prefer not to add snippets of the YANG tree because they usually tends to get out of synch when the YANG code changes. Keeping them in synch is error prone and require significant editorial efforts. We think that this would help speeding up development of YANG models within IETF.

> Section 3, paragraph 14
> >        description
> >          "To be updated";
> 
> Please update in that case :-)
> 

Authors: Description updated

> Section 3, paragraph 16
> >        description
> >          "Layer 0 grid type";
> 
> This is one example of a base identity. In this case, it should say "Base
> identity for Layer 0 grid type".
> 

Authors: Updated as "Base identity for the WDM grid types."

> Section 3, paragraph 17
> >          description
> >            "CWDM grid";
> 
> Considering that the YANG module will be separated from this document where
> some of these acronnyms are defined, all acromyms should be expanded.
> 

Authors: Updated as "Coarse Wavelength Division Multiplexing (CWDM) grid."

> Section 3, paragraph 45
> >        identity DPSK {
> >          base modulation;
> >          description
> >            "DPSK (Differential Phase Shift Keying) modulation";
> >        }
> 
> Are there no references for the modulation types?
> 

Authors: This is a well know modulation format in the literature but we were not been able to find any standard reference to add to the YANG model.

> Section 3, paragraph 64
> >      identity line-coding {
> >        description
> >          "Base identity to defined the bit rate/line coding of optical
> >          tributary signals.";
> >        reference
> >          "Section 7.1.2 of ITU-T G.698.2 v3.0 (11/2018).";
> >      }
> 
> Indentation is off. And thanks for identifying it as a base identity.
> 

- [x] Check that it is fixed when running `pyang -f yang`

> Section 3, paragraph 69
> >      identity wavelength-assignment {
> >        description
> >          "Wavelength selection base";
> >        reference
> >          "RFC 7689: Signaling Extensions for Wavelength Switched
> >          Optical Networks";
> >      }
> 
> Indentation is off. And while the word base is there, better to word it as
> "Base identity for wavelength selection".
> 

Authors: For consistency with the description in the derived identities, updated as "Base identity for Wavelength Assignment (WA) method."

> Section 3, paragraph 78
> >      typedef dwdm-n {
> >        type int16;
> 
> Can dwdm-m have a negative value for N? And is there a range for the value 'N'?
> 

Authors: Yes, this value can be positive or negative (see RFC6205). The range is implementation-specific but a 16bits field has been defined in RFC6205 and sufficient for all the existing GMPLS deployments.

> Section 3, paragraph 80
> >      typedef cwdm-n {
> >        type int16;
> 
> Same comment here.
> 

Authors: same as above

> Section 3, paragraph 92
> >    // RFC Ed.: replace YYYY with actual RFC number and remove
> >    // this note after draft-ietf-ccamp-optical-impairment-topology-yang
> >    // is published as an RFC
> 
> Can all instructions to the RFC Editor be consolidated in one place?
> 

Authors: moved all the instructions to the RFC Editor to a new section 1.1

> Section 3, paragraph 97
> >      typedef fiber-type {
> >        type enumeration {
> >          enum G.652 {
> >            description
> >              "G.652 Standard Singlemode Fiber";
> >          }
> >          enum G.654 {
> >            description
> >              "G.654 Cutoff Shifted Fiber";
> >          }
> >          enum G.653 {
> >            description "G.653 Dispersion Shifted Fiber";
> >          }
> >          enum G.655 {
> >            description "G.655 Non-Zero Dispersion Shifted Fiber";
> >          }
> >          enum G.656 {
> >            description
> >              "G.656 Non-Zero Dispersion for Wideband Optical Transport";
> >          }
> >          enum G.657 {
> >            description
> >              "G.657 Bend-Insensitive Fiber";
> >          }
> >        }
> >        description
> >          "ITU-T based fiber-types";
> >      }
> 
> Reference please.
> 

Authors: this typedef is no longer used by the optical impairments topology draft (replaced by a string) so it is better to remove it since not used by any IETF YANG model.

> Section 3, paragraph 115
> >      grouping wdm-label-hop {
> >        description
> >          "Generic label-hop information for fixed & flexi-DWDM or
> >           CWDM grid";
> >        choice grid-type {
> >          description
> >            "Label for DWDM or CWDM grid";
> >          case fixed-dwdm {
> >            choice fixed-single-or-super-channel {
> >              description
> >                "single or super channel";
> >              case single {
> >                leaf dwdm-n {
> >                  type dwdm-n;
> >                  description
> >                    "The given value 'N' is used to determine the
> >                     nominal central frequency.";
> >                }
> >              }
> >              case multi {
> >                leaf-list subcarrier-dwdm-n {
> >                  type dwdm-n;
> >                  min-elements 2;
> >                  description
> >                    "The given values 'N' are used to determine the
> >                     nominal central frequency for each subcarrier
> >                     channel.";
> >                  reference
> >                    "ITU-T G.694.1 (10/2020): Spectral grids for WDM
> >                    applications: DWDM frequency grid";
> >                }
> >              }
> >            }
> >          }
> 
> Which one of this is an option for flexi-DWDM? Can it be identified?

Authors: The option for flexi-DWDM is the flexi-grid case 

```
  grouping wdm-label-hop {
    description
      "Generic label-hop information for DWDM and CWDM labels.";
    choice grid-type {
      description
        "Label for DWDM or CWDM grid.";
      case fixed-dwdm {
        ...
      }
      case cwdm {
        ...
      }
      case flexi-grid {
        ...
      }
    }
  }
```
> Also, I see multiple terms here that have not been explained. 'super-channel',
> 'flexi-DWDM', 'multi'.
> 

Authors: We have removed the term 'flexi-DWDM'. The term 'super-channel' has been kept for WSON due to BC issues with RFC9093 and RFC9094. For the new definitions we are using the term multi based on the description "Single channel or multi-channel." in the choice statement.

> Section 3, paragraph 118
> >      grouping wson-label-start-end {
> >        description
> >          "The WSON label-start or label-end used to specify WSON label
> >           range.";
> >        choice grid-type {
> >          description
> >            "Label for DWDM or CWDM grid";
> >          case dwdm {
> >            leaf dwdm-n {
> >              when "derived-from-or-self(../../../grid-type,
> >                    \"wson-grid-dwdm\")" {
> >                description
> >                  "Valid only when grid type is DWDM.";
> >              }
> >              type dwdm-n;
> >              description
> >                "The central frequency of DWDM.";
> >              reference
> >                "RFC 6205: Generalized Labels for Lambda-Switch-Capable
> >                 (LSC) Label Switching Routers";
> >            }
> >          }
> >          case cwdm {
> >            leaf cwdm-n {
> >              when "derived-from-or-self(../../../grid-type,
> >                    \"wson-grid-cwdm\")" {
> >                description
> >                  "Valid only when grid type is CWDM.";
> >              }
> >              type cwdm-n;
> >              description
> >                "Channel wavelength computing input.";
> >              reference
> >                "RFC 6205: Generalized Labels for Lambda-Switch-Capable
> >                 (LSC) Label Switching Routers";
> >            }
> >          }
> >        }
> >        reference
> >          "RFC 6205: Generalized Labels for Lambda-Switch-Capable (LSC)
> >           Label Switching Routers";
> >      }
> 
> Where is label-start and label-end in this grouping?
> 

Authors: They are defined in the ietf-te-types to be augmented by this technology-specific grouping. We have provided some description in section 2.1 of the draft and improved also the description of the grouping to clarify the intended use of this grouping.

> Section 3, paragraph 118
> >              case single {
> >                leaf dwdm-n {
> >                  type dwdm-n;
> >                  description
> >                    "The given value 'N' is used to determine the
> >                     nominal central frequency.";
> >                }
> >              }
> 
> Reference please.
> 

Authors: Added

> Section 3, paragraph 121
> >      grouping flexi-grid-label-start-end {
> >        description
> >          "The flexi-grid label-start or label-end used to specify
> >           flexi-grid label range.";
> >        leaf flexi-n {
> >          type flexi-n;
> >          description
> >            "The given value 'N' is used to determine the nominal
> >            central frequency.
> >
> >            As described in section 3.1 of RFC 8363, the range of
> >            available nominal central frequencies are advertised for
> >            m=1, which means that for an available central frequency n,
> >            the frequency slot from central frequency n-1 to central
> >            frequency n+1 is available.";
> >        }
> >        reference
> >          "RFC 7699: Generalized Labels for the Flexi-Grid in Lambda
> >          Switch Capable (LSC) Label Switching Routers,
> >
> >          RFC 8363: GMPLS OSPF-TE Extensions in Support of Flexi-Grid
> >          Dense Wavelength Division Multiplexing (DWDM) Networks";
> >      }
> 
> The description and name of the grouping does not seem to jive with the
> contents of the grouping. How is this a lable-start-end if there is only one
> leaf with a description that says "The given value 'N' is used to determine the
> nominal central frequency"? Can this be described in a way that indicates a
> start and an end?
> 

Authors: See comment above. The label start and label end are defined in the ietf-te-types to be augmented by this technology-specific grouping. We have provided some description in section 2.1 of the draft and improved also the description of the grouping to clarify the intended use of this grouping.

> Section 3, paragraph 132
> >        container supported-modes {
> >          presence
> >            "When present, it indicates that the modes supported by a
> >            transceiver are reported.";
> >          config false;
> >          description
> >            "The top level container for the list supported
> >            transceiver's modes.";
> 
> If your overall container is 'config false', you do not need to specify 'config
> false' at every container, list and leaf level. Please remove. As an example,
> see below.
> 

Authors: Removed redundant config false statements

> Section 3, paragraph 141
> >        list cd-penalty {
> >          key cd-value;
> >          config false;
> >          description
> >            "Optional penalty associated with a given accumulated
> >            chromatic dispersion (CD) value measured in
> >            absence of other impairments.
> >
> >            This list of pair CD and OSNR penalty can be used to
> >            sample the function OSNR penalty = f(CD).";
> >          leaf cd-value {
> >            type decimal-2;
> >            units "ps/nm";
> >            config false;
> >            mandatory true;
> >            description
> >              "The Chromatic Dispersion (CD).";
> >          }
> >          uses penalty-value;
> >          reference
> >            "Section 2.6.4 of RFC YYYY: A YANG Data Model for Optical
> >            Impairment-aware Topology.";
> >        }
> 
> You have the overall list as 'config false'. Why do you need 'config false' to
> be specified under the leaf 'cd-value'? Same comment applies to other config
> false lists.
> 

Authors: Removed redundant config false statements

> Possible DOWNREF from this Standards Track doc to [ITU-T_G.666]. If so, the
> IESG needs to approve it.
> 
> Possible DOWNREF from this Standards Track doc to [ITU-T_G.709.3]. If so, the
> IESG needs to approve it.
> 
> Possible DOWNREF from this Standards Track doc to [ITU-T_G.709]. If so, the
> IESG needs to approve it.
> 
> Possible DOWNREF from this Standards Track doc to [OIF_400ZR]. If so, the IESG
> needs to approve it.
> 
> Possible DOWNREF from this Standards Track doc to [ITU-T_G.975]. If so, the
> IESG needs to approve it.
> 
> Possible DOWNREF from this Standards Track doc to [ITU-T_G.975.1]. If so, the
> IESG needs to approve it.
> 
> Possible DOWNREF from this Standards Track doc to [ITU-T_G.977.1]. If so, the
> IESG needs to approve it.
> 
> Possible DOWNREF from this Standards Track doc to [ITU-T_G.694.1]. If so, the
> IESG needs to approve it.
> 
> Possible DOWNREF from this Standards Track doc to [ITU-T_G.694.2]. If so, the
> IESG needs to approve it.
> 
> Possible DOWNREF from this Standards Track doc to [ITU-T_G.709.2]. If so, the
> IESG needs to approve it.
> 
> Possible DOWNREF from this Standards Track doc to [ITU-T_G.959.1]. If so, the
> IESG needs to approve it.
> 
> Possible DOWNREF from this Standards Track doc to [ITU-T_G.9700]. If so, the
> IESG needs to approve it.
> 
> Possible DOWNREF from this Standards Track doc to [ITU-T_G.698.2]. If so, the
> IESG needs to approve it.
> 

Authors: It is normal practice in the RFCs produced by CCAMP WG to have normative references to ITU-T Recommendations which are standard references.
We do not know if there is any process required for referencing OIF Implementation Agreements but there are some YANG data node which needs to reference to [OIF_400ZR] so we are not sure we can make it an Informative Reference.
Do you have any suggestion?

> -------------------------------------------------------------------------------
> NIT
> -------------------------------------------------------------------------------
> 
> All comments below are about very minor potential issues that you may choose to
> address in some way - or ignore - as you see fit. Some were flagged by
> automated tools (via https://github.com/larseggert/ietf-reviewtool) so there
> will likely be some false positives. There is no need to let me know what you
> did with these suggestions.
> 
> Section 3, paragraph 58
> > ng { description "Base identity to defined the bit rate/line coding of optica
> >                                    ^^^^^^^
> The verb after "to" should be in the base form as part of the to-infinitive. A
> verb can take many forms, but the base form is always used in the
> to-infinitive.
> 

Authors: Fixed as "to define"

> "Reference", paragraph 23
> > mplate with the proper XPath which depends from where this grouping is actual
> >                                    ^^^^^^^
> The verb "depend" requires the preposition "on" (or "upon").
> 

Authors: Fixed as "depends on"

> "Reference", paragraph 26
> > rantees interoperability. It must be an string with the following format: B-
> >                                      ^^
> Use "a" instead of "an" if the following word doesn't start with a vowel sound,
> e.g. "a sentence", "a university".
> 

Authors: fixed as "a string"

> "Reference", paragraph 38
> > icates the transceiver frequency fine tuning granularity e.g 3.125GHz or 0.00
> >                                  ^^^^^^^^^^^
> This word is normally spelled with a hyphen.
> 

Authors: fixed as "fine-tuning"

> "Reference", paragraph 42
> > nels. It is applicable only to multi-channel modes."; } } // grouping common
> >                                ^^^^^^^^^^^^^
> This word is normally spelled as one.

Authors: fixed as "multichannel"

See: https://mailarchive.ietf.org/arch/msg/ccamp/xwah-yxpn7uXLeJQkwrZfY1ipgY/

Replied to the CCAMP WG mailing list: https://mailarchive.ietf.org/arch/msg/ccamp/xz5IwZzrlvjJ5eObNUC9ZAE3M8A/