Downrefs

From idnits:

```
  ** Downref: Normative reference to an Informational RFC: RFC 6163

  ** Downref: Normative reference to an Informational RFC: RFC 7698
```

No need to fix: these two RFCs are referenced in the YANG model already in RFC9093

Reading the YANG it seems possible to replace:
- the references to RFC 7698 with references to RFC 7699 or RFC 8363 
-  the references to RFC 6163 with references to RFC 6205 or RFC 7699
